<%= form_for(:comment, as: [topic, post], url: topic_post_comments_path(topic, post), action: "create") do |f| %>
  <div class="form-group">
    <%= f.text_field :body, rows: 8, class: 'form-control', placeholder: "Enter comment" %>
  </div>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>