<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).fadeOut();
  $('.js-comments-count').html("<%= @comment.user.comments.count %> comments")
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger' role='alert'>
    <button type='button' class='close' data-dismiss='alert'>&times;</button>
    <%= flash[:eror] %></div>");
<% end %>